@import "../css/bootstrap-reboot.min.css";
@import "../css/bootstrap-grid.min.css";
@import "../css/bootstrap.min.css";
@import "../css/owl.carousel.min.css";
@import "../css/owl.theme.default.min.css";
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap");
body {
  font-family: "Asap", sans-serif;
}

img {
  width: 100%;
  display: block;
  transition: 0.3s;
}

header {
  position: absolute;
  width: 100%;
  padding: 31px 0;
  z-index: 1;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0;
}
.navbar-brand:hover img {
  opacity: 60%;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  line-height: 16px;
  color: #4d4d4d;
  font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 8px 19px;
}
.navbar-expand-lg .navbar-nav .nav-link:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #878787;
  margin-top: 8px;
  opacity: 0;
  transition: 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:after {
  opacity: 1;
  width: 100%;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #4d4d4d;
}
.navbar-light .navbar-nav .active > .nav-link:after {
  width: 100%;
  opacity: 1;
}

.first_screen {
  background: url("../img/bg.jpg") center center/cover no-repeat;
  padding: 101px 0 5px;
}
.first_screen h1 {
  font-size: 88px;
  line-height: 90px;
  color: #4d4d4d;
  margin-bottom: 0;
  font-weight: 700;
  margin-inline-start: -4px;
}
.first_screen h2 {
  font-size: 22px;
  line-height: 22px;
  color: #909090;
  margin-bottom: 28px;
}

.btn {
  position: relative;
  border: 1px solid #4d4d4d;
  border-radius: 0;
  font-size: 16px;
  color: #4d4d4d;
  line-height: 48px;
  padding: 0 15px;
  min-width: 160px;
  margin-right: 20px;
  font-weight: 700;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}
.btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: white;
  transition: 0.25s;
}
.btn:hover {
  color: #4d4d4d;
  border: 1px solid transparent;
  box-shadow: 0 0.5em 1em -0.4em rgba(0, 0, 0, 0.32);
}
.btn:hover:after {
  top: auto;
  height: 100%;
  bottom: 0;
}

.btn.white {
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 0.5em 1em -0.4em rgba(0, 0, 0, 0.32);
}
.btn.white:after {
  background-color: transparent;
}
.btn.white:hover {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.67);
}

.about_me {
  padding: 120px 0;
}
.about_me p {
  font-size: 16px;
  line-height: 25px;
  color: #4d4d4d;
  margin-bottom: 36px;
  font-weight: 500;
}
.about_me .btn {
  min-width: 245px;
  margin-right: 0;
}
.about_me .about_picture {
  height: auto;
  max-width: 570px;
  background-color: #f6f6f6;
  overflow: hidden;
}
.about_me .title {
  margin: 0;
}
.about_me .title:before {
  margin: 0 0 15px 0;
}

.title {
  font-size: 46px;
  line-height: 46px;
  color: #4d4d4d;
  font-weight: 700;
  margin-bottom: 71px;
  letter-spacing: 5px;
  opacity: 80%;
}
.title:before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #4d4d4d;
  opacity: 80%;
  margin: 0 auto 15px;
}

.services {
  background-color: #f6f6f6;
  padding: 120px 0;
}
.services img {
  width: unset;
}
.services .feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 81px;
  margin-bottom: 10px;
}
.services h4 {
  font-size: 24px;
  line-height: 24px;
  color: #4d4d4d;
  font-weight: 700;
}

.skills {
  padding: 120px 0;
}

.portfolio {
  padding: 120px 0;
  background-color: #f6f6f6;
}
.portfolio .card {
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
  transition: 0.3s;
  background-color: #000000;
}
.portfolio .card:hover {
  box-shadow: 0 0.5em 2em -0.4em rgba(0, 0, 0, 0.32);
}
.portfolio .card:hover img {
  opacity: 0.6;
}
.portfolio .btn.white {
  margin-right: 0;
  min-width: 190px;
}

.testimonials {
  padding: 120px 0;
}
.testimonials .owl-carousel {
  padding: 100px 100px;
  border: 1px solid #212121;
}
.testimonials .owl-carousel h3 {
  font-size: 30px;
  line-height: 30px;
  color: #212121;
  margin-bottom: 0;
  font-weight: 700;
}
.testimonials .owl-carousel h4 {
  font-size: 12px;
  line-height: 12px;
  color: #212121;
  font-style: italic;
  margin-bottom: 15px;
  font-weight: 500;
}
.testimonials .owl-carousel p {
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  opacity: 60%;
  text-transform: uppercase;
  margin-bottom: 0;
}
.testimonials .owl-carousel .owl-dots {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 38px;
  left: 0;
  text-align: center;
}
.testimonials .owl-carousel .owl-dots .owl-dot {
  width: 13px;
  height: 13px;
  border: 1px solid #212121;
  margin-right: 4px;
  transition: 0.3s;
}
.testimonials .owl-carousel .owl-dots .owl-dot.active {
  background-color: #212121;
}

.total {
  padding-bottom: 120px;
}
.total .services {
  padding: 53px 0 65px;
}
.total .services .feature-icon {
  height: 100px;
  align-items: end;
  margin-bottom: 25px;
}
.total .services span {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}
.total .services h4 {
  font-size: 22px;
  line-height: 22px;
  color: #212121;
  font-weight: 500;
}

footer {
  padding: 120px 0 30px;
  background: url("../img/footer/footer_bg.jpg") center center/cover no-repeat;
}
footer .title {
  color: white;
  opacity: 100%;
}
footer .title:before {
  background-color: #c1c1c1;
}
footer .form-group {
  margin-bottom: 2rem;
}
footer .form-control {
  height: 57px;
  border-radius: 0;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
}
footer ::placeholder {
  color: #212121;
}
footer textarea.form-control {
  height: 207px;
  resize: none;
}
footer .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
footer .btn img {
  width: unset;
}
footer .btn span {
  margin-right: 7px;
  line-height: 15px;
}
footer .copyright {
  margin-top: 58px;
  border-top: 1px solid white;
  padding-top: 26px;
}
footer .copyright span {
  color: white;
}
footer .socials a {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-color: white;
  text-decoration: none;
  color: #4d4d4d;
  text-align: center;
  margin: 0 5px;
  line-height: 26px;
  transition: 0.3s;
}
footer .socials a:first-child {
  margin: 0 5px 0 0;
}
footer .socials a:hover {
  background-color: #0084b4;
  color: white;
}

/*# sourceMappingURL=style.css.map */
