@import "../css/bootstrap-reboot.min.css";
@import "../css/bootstrap-grid.min.css";
@import "../css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap");
body {
  font-family: "Asap", sans-serif;
}

img {
  width: 100%;
  display: block;
}

header {
  position: absolute;
  width: 100%;
  padding: 31px 0;
  z-index: 1;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  line-height: 16px;
  color: #4d4d4d;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 8px 19px;
}
.navbar-expand-lg .navbar-nav .nav-link:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #878787;
  margin-top: 8px;
  opacity: 0;
  transition: 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:after {
  opacity: 1;
  width: 100%;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #4d4d4d;
}
.navbar-light .navbar-nav .active > .nav-link:after {
  width: 100%;
  opacity: 1;
}

.first_screen {
  background: url("../img/bg.jpg") center center/cover no-repeat;
  padding: 101px 0 5px;
}
.first_screen h1 {
  font-size: 88px;
  line-height: 90px;
  color: #4d4d4d;
  margin-bottom: 0;
  font-weight: 700;
  margin-inline-start: -4px;
}
.first_screen h2 {
  font-size: 22px;
  line-height: 22px;
  color: #909090;
  margin-bottom: 28px;
}

.btn {
  position: relative;
  border: 1px solid #4d4d4d;
  border-radius: 0;
  font-size: 16px;
  color: #4d4d4d;
  line-height: 48px;
  padding: 0 15px;
  min-width: 160px;
  margin-right: 20px;
  font-weight: 700;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}
.btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: white;
  transition: 0.25s;
}
.btn:hover {
  color: #4d4d4d;
  border: 1px solid transparent;
  box-shadow: 0 0.5em 1em -0.4em rgba(0, 0, 0, 0.32);
}
.btn:hover:after {
  top: auto;
  height: 100%;
  bottom: 0;
}

.btn.white {
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 0.5em 1em -0.4em rgba(0, 0, 0, 0.32);
}
.btn.white:after {
  background-color: transparent;
}
.btn.white:hover {
  border: 1px solid #4d4d4d;
  background-color: transparent;
  box-shadow: none;
}

.about_me {
  padding: 109px 0 120px;
}
.about_me p {
  font-size: 16px;
  line-height: 25px;
  color: #4d4d4d;
  margin-bottom: 36px;
  font-weight: 500;
}
.about_me .btn {
  min-width: 245px;
  margin-right: 0;
}
.about_me .about_picture {
  height: auto;
  max-width: 570px;
  background-color: #f6f6f6;
  overflow: hidden;
}
.about_me .title:before {
  margin: 0 0 15px;
}

.title {
  font-size: 46px;
  line-height: 46px;
  color: #4d4d4d;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: 5px;
  opacity: 80%;
}
.title:before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #4d4d4d;
  opacity: 80%;
  margin: 0 auto 15px;
}

.services {
  background-color: #f6f6f6;
  padding: 119px 0 113px;
}
.services img {
  width: unset;
}
.services .title {
  margin-bottom: 71px;
}
.services .feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 81px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
