@import "libs";
@import "variables";
@import "mixins";


body {
  font-family: 'Asap', sans-serif;
}
img {
  width: 100%;
  display: block;
  transition: .3s;
}

header {
  position: absolute;
  width: 100%;
  padding: 31px 0;
  z-index: 2;
  @include max-screen(991px) {
    padding: 15px 0;
    background-color: $white_color;
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
  }
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0;
  &:hover {
    img {
      opacity: 60%;
    }
  }
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.navbar-nav {
  li {
    &:last-child {
      @include max-screen(991px) {
        border-bottom: none;
      }
      .nav-link {
        padding: 8px 0 0 19px;
        @include max-screen(991px) {
          padding: 15px 19px;
        }
      }
    }
  }
}
.nav-item {
  @include max-screen(991px) {
    border-bottom: 1px solid #eee;
  }
}
.navbar-light .navbar-nav .nav-link{
  font-size: 16px;
  line-height: 16px;
  color: $main_color;
  font-weight: $font_medium;
  @include max-screen(991px) {
    text-align: center;
  }
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 8px 19px;
  @include max-screen(991px) {
    padding: 15px 19px;
  }
  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #878787;
    margin-top: 8px;
    opacity: 0;
    transition: .3s;
    @include max-screen(991px) {
      display: none;
    }
  }
  &:hover {
    &:after {
      opacity: 1;
      width: 100%;
    }
  }

}
.navbar-light .navbar-nav .active>.nav-link {
  color: $main_color;
  &:after {
    width: 100%;
    opacity: 1;

  }
}

.first_screen {
  background: url("../img/bg.jpg") center center/cover no-repeat;
  padding: 101px 0 5px;
  h1 {
    font-size: 88px;
    line-height: 90px;
    color: $main_color;
    margin-bottom: 0;
    font-weight: $font_bold;
    margin-inline-start: -4px;
    @include max-screen(768px) {
      font-size: 80px;
      line-height: 80px;
      margin-bottom: 20px;
    }
    @include max-screen(425px) {
      font-size: 75px;
      line-height: 75px;
      margin-bottom: 20px;
    }
    @include max-screen(320px) {
      font-size: 70px;
      line-height: 70px;
    }
  }
  h2 {
    font-size: 22px;
    line-height: 22px;
    color: #909090;
    margin-bottom: 28px;
    @include max-screen(768px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  .btn {
    @include max-screen(425px) {
        margin-bottom: 20px;
    }
  }
}

.btn {
  position: relative;
  border: 1px solid $main_color;
  border-radius: 0;
  font-size: 16px;
  color: $main_color;
  line-height: 48px;
  padding: 0 15px;
  min-width: 160px;
  margin-right: 20px;
  font-weight: $font_bold;
  overflow: hidden;
  z-index: 1;
  transition: .3s !important;
  @include max-screen(768px) {
    margin-right: 6px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  @include max-screen(425px) {
    min-width: unset;
    width: 100%;
    margin-right: 0;
  }
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $white_color;
    transition: 0.25s;
  }
  &:hover {
    color: $main_color;
    border: 1px solid transparent;
    box-shadow: 0 0.5em 1em -0.4em rgba(0, 0, 0, 0.32);
    &:after {
      top: auto;
      height: 100%;
      bottom: 0;
    }
  }
}

.btn {
  &.white {
    background-color: $white_color;
    border: 1px solid $white_color;
    box-shadow: 0 0.5em 1em -0.4em rgba(0, 0, 0, 0.32);
    &:after {
      background-color: transparent;
    }
    &:hover {
      border: 1px solid transparent;
      background-color: rgba(255, 255, 255, 0.67);
      //box-shadow: none;
    }
  }
}

.about_me {
  padding: 120px 0;
  @include max-screen(768px) {
    padding: 65px 0;
  }
  p {
    font-size: 16px;
    line-height: 25px;
    color: $main_color;
    margin-bottom: 36px;
    font-weight: $font_medium;
  }
  .btn {
    min-width: 245px;
    margin-right: 0;
  }
  .about_picture {
    height: auto;
    max-width: 570px;
    background-color: $grey_color;
    overflow: hidden;
  }
  .title {
    margin: 0;
    &:before {
      margin: 0  0 15px 0;
    }
  }
}

.title {
  font-size: 46px;
  line-height: 46px;
  color: $main_color;
  font-weight: $font_bold;
  margin-bottom: 71px;
  letter-spacing: 5px;
  opacity: 80%;
  &:before {
    content: "";
    display: block;
    height: 4px;
    width: 60px;
    background-color: $main_color;
    opacity: 80%;
    margin: 0 auto 15px;
  }
  @include max-screen(425px) {
    font-size: 40px;
    line-height: 40px;
  }
  @include max-screen(320px) {
    font-size: 32px;
    line-height: 32px;
  }
}

.services {
  background-color: $grey_color;
  padding: 120px 0;
  @include max-screen(768px) {
    padding: 65px 0;
  }
  img {
    width: unset;
  }
  .feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 81px;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 24px;
    line-height: 24px;
    color: $main_color;
    font-weight: $font_bold;
  }
}

.skills {
  padding: 120px 0 ;
  @include max-screen(768px) {
    padding: 65px 0;
  }
}

.portfolio {
  padding: 120px 0;
  background-color: $grey_color;
  @include max-screen(768px) {
    padding: 65px 0;
  }
  .card {
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    transition: .3s;
    background-color: $black_color;
    &:hover {
      box-shadow: 0 0.5em 2em -0.4em rgba(0, 0, 0, 0.32);
      img {
        opacity: .6;
      }
      a {
        &:after {
          opacity: 1;
        }
      }
    }
    a {
      position: relative;
      &:after {
        content: "\f054";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        display: block;
        position: absolute;
        width: 55px;
        height: 55px;
        background-color: $white_color;
        color: $main_color;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 55px;
        opacity: 0;
        transition: .3s;
      }
    }
  }
  .btn {
    &.white {
      margin-right: 0;
      min-width: 190px;
    }
  }
}

.testimonials {
  padding: 120px 0;
  @include max-screen(768px) {
    padding: 65px 0;
  }
  .owl-carousel {
    padding: 100px 100px;
    border: 1px solid #212121;
    @include max-screen(425px) {
      padding: 60px 50px;
    }
    h3 {
      font-size: 30px;
      line-height: 30px;
      color: #212121;
      margin-bottom: 0;
      font-weight: $font_bold;
      @include max-screen(768px) {
        font-size: 28px;
        line-height: 28px;
      }
    }
    h4 {
      font-size: 12px;
      line-height: 12px;
      color: #212121;
      font-style: italic;
      margin-bottom: 15px;
      font-weight: $font_medium;
      @include max-screen(768px) {
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 16px;
      line-height: 26px;
      color: #212121;
      opacity: 60%;
      text-transform: uppercase;
      margin-bottom: 0;
      @include max-screen(768px) {
        font-size: 14px;
        line-height: 24px;
      }
    }
    .owl-dots {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 38px;
      left: 0;
      text-align: center;
      .owl-dot {
        width: 13px;
        height: 13px;
        border: 1px solid #212121;
        margin-right: 4px;
        transition: .3s;
        &.active {
          background-color: #212121;
        }
      }
    }
  }
}

.total {
  padding-bottom: 120px;
  @include max-screen(768px) {
    padding-bottom: 65px;
  }
  .services {
    padding: 53px  0 65px;
    .feature-icon {
      height: 100px;
      align-items: end;
      margin-bottom: 25px;
    }
    span {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 30px;
      font-weight: $font_bold;
    }
    h4 {
      font-size: 22px;
      line-height: 22px;
      color: #212121;
      font-weight: $font_medium;
    }
  }
}

footer {
  padding: 120px 0 30px;
  background: url("../img/footer/footer_bg.jpg") center center/cover no-repeat;
  @include max-screen(768px) {
    padding: 65px 0 30px;
  }
  .title {
    color: $white_color;
    opacity: 100%;
    &:before {
      background-color: #c1c1c1;
    }
  }
  .form-group {
    margin-bottom: 2rem;
  }
  .form-control {
    height: 57px;
    border-radius: 0;
    color: #212121;
    font-size: 16px;
    font-weight: $font_medium;
  }
  ::placeholder {
    color: #212121;
  }
  textarea.form-control {
    height: 207px;
    resize: none;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    img {
      width: unset;
    }
    span {
      position: relative;
      margin-right: 7px;
      line-height: 15px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/footer/send-button.png") center center/cover no-repeat;
        width: 15px;
        height: 13px;
        right: -22px;
        top: 1px;
      }
    }
  }

  .copyright {
    margin-top: 58px;
    border-top: 1px solid $white_color;
    padding-top: 26px;
    span {
      color: $white_color;
    }
  }
  .socials {
    a {
      display: inline-block;
      width: 27px;
      height: 27px;
      background-color: $white_color;
      text-decoration: none;
      color: $main_color;
      text-align: center;
      margin: 0 5px;
      line-height: 26px;
      transition: .3s;
      @include max-screen(768px) {
        width: 25px;
        height: 25px;
        margin: 0 3px;
      }
      &:first-child {
        margin: 0 5px 0 0;
      }
      &:hover {
        background-color: #0084b4;
        color: $white_color;
      }
    }
  }
}
.pageup {
  position: fixed;
  display: none;
  height: 41px;
  width: 41px;
  background-color: $white_color;
  bottom: 193px;
  right: 30px;
  box-shadow: 0 0.5em 2em -0.4em rgba(0, 0, 0, 0.32);
  text-decoration: none;
  transition: .3s background-color;
  @include max-screen(768px) {
    bottom: 50px;
  }
  &:before {
    content: "\f077";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: $main_color;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }
  &:hover {
    background-color: #0084b4;
    &:before {
      color: $white_color;
    }
  }
}